<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receta</title>
</head>
<body>
    <FORM method=GET action="http://www.google.es/search">
    <fieldset>
        <input type=hidden name=ie value=UTF-8 />
        <input type=hidden name=oe value=UTF-8 />

        <INPUT TYPE=text id="s" name="q" value="" size="50" />
        <font size=-1>

        <input type=hidden name=domains value="http://www.uterra.com" /><br>
        <input type=radio name=sitesearch value="" /> En todo Internet</br>
        <input type=radio name=sitesearch value="http://www.uterra.com" checked /> En Uterra.Com

        <INPUT type=submit  id="x" name=btnG VALUE="Buscar" />
        </font>
    </fieldset>
    </FORM>
    <ul>
        <li><a href="/polls/PantallaInicial/">Pantalla Principal</a></li>
    </ul>
    <ul>
        <li><a href="/polls/PantallaReceta/">Pantalla Receta</a></li>
    </ul>
    <ul>
        <li><a href="/polls/PerfilUsuario/">Perfil Usuario</a></li>
    </ul>
    <ul>
        <li><a href="/polls/PantallaBusqueda/">Pantalla Busqueda</a></li>
    </ul>
    <ul>
        <li><a href="/polls/pantallaRegistroReceta/">Pantalla Registro Receta</a></li>
    </ul>
    <ul>
        <li><a href="/polls/pantallaRegistroUsuario/">Pantalla Registro Usuario</a></li>
    </ul>
</body>
</html>
