<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receta</title>
</head>
<body>

    <ul>
        <li><a href="/polls/PantallaInicial/">Pantalla Principal</a></li>
    </ul>
    <ul>
        <li><a href="/polls/PantallaReceta/">Pantalla Receta</a></li>
    </ul>
    <ul>
        <li><a href="/polls/PerfilUsuario/">Perfil Usuario</a></li>
    </ul>
    <ul>
        <li><a href="/polls/PantallaBusqueda/">Pantalla Busqueda</a></li>
    </ul>
    <ul>
        <li><a href="/polls/pantallaRegistroReceta/">Pantalla Registro Receta</a></li>
    </ul>
    <ul>
        <li><a href="/polls/PantallaRegistroIngrediente/">Pantalla Registro Ingrediente</a></li>
    </ul>
    <ul>
        <li><a href="/polls/pantallaRegistroUsuario/">Pantalla Registro Usuario</a></li>
    </ul>

    <ul>
        <li><a href="/polls/pantallaRegistroComentario/">Pantalla Crear Comentario</a></li>
    </ul>

    <ul>
        <li><a href="/polls/pantallaVerRecetas/">Pantalla ver Recetas</a></li>
    </ul>
    <ul>
        <li><a href="/polls/pantallaVerIngredientes/">Pantalla ver Ingredientes</a></li>
    </ul>

    <ul>
        <li><a href="/polls/PantallaIngrediente/">Pantalla ver Ingrediente</a></li>
    </ul>
</body>
</html>
