<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro Ingrediente</title>
</head>
<body>
   <div class="container">
     <div class="login-container">
       <div class="register" >
         <h2 style="text-align:center; margin: 0 auto;">Bienvendo al Registro de un ingrediente</h2>
          <form method="post" style="text-align:center; margin: 0 auto;", enctype="multipart/form-data">
           {% csrf_token %}
            <!--  {{form.as_p}}-->
              <br><br>
           <span>¿Cual es el id del ingrediente?<p></p></span>{{form.idIngrediente}}<br><br>
           <span>¿Como se llama el ingrediente?</span>{{form.nombre}}<br><br>
           <span>¿Cual es su descripción?</span><br><br>  {{form.descripcion}}<br><br>
           <span>¿De donde viene?</span>  {{form.zonaOrigen}} <br><br>
           <span>¿Como la clasificarias?</span>  {{form.clasificacion}}<br><br>
           <span>¿Quieres agregar una imagen?</span><br>{{form.imagen}}<br><br>
           <input type="submit" class="submit" value="CREAR INGREDIENTE">
         </form>
       </div>

     </div>
   </div>
</body>
</html>

