
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recetas</title>
</head>
<body>
<div style="text-align:center">
     {% if recetas %}
        {% for receta in recetas %}
            {% if receta.titulo == 'tamal' %}
    <br><br>
                <span> <b> Titulo: </b> </span>{{receta.titulo}}<br><br>
                <span><b>Descripcion</b> </span> {{receta.descripcion}}   <br><br>
                <span><b>Categoria:</b></span>  <br>{{receta.categoria}}<br>
                <span><b>Ingredientes: </b></span>   {{receta.ingredientes}}<br><br>
                <span><b>Creador:</b></span>   <br>{{receta.creador}}<br>
                <span><b>Opiniones: </b></span>  <br>{{receta.opiniones}}<br>
                <span><b>Calificacion </b></span>  <br>{{receta.calificacion}}<br>
                <span><b>Imagen</b></span><br> <img class="img-responsive" src=/media/{{receta.imagen}} alt="" width="200" height="100"><br><br>

            {%endif%}

        {% endfor %}
    {% else %}
        <h1>Receta no encontrada</h1>
    {%endif%}

</div>

</body>
</html>