<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro usuario</title>
</head>
<body>
   <div class="container">
     <div class="login-container">
       <div class="register">
         <h2>Bienvendo al Registro de Usuario</h2>
          <form method="post">
           {% csrf_token %}
            <!--  {{form.as_p}}-->
              <span>¿Cual es tu id?</span> {{form.idUsuario}} <br><br>
           <span>¿Cual es tu nombre?</span> {{form.nombre}} <br><br>
            <span>¿Cual es tu apellido?</span> {{form.apellido}} <br><br>
           <span>¿Tienes algun apodo?</span>  {{form.apodo}} <br><br>
           <span>¿Cual es tu cedula?</span>  {{form.cedula}} <br><br>
           <span>¿Cuando naciste?</span>  {{form.fechaNacido}} <br><br>
           <span>¿Cual es tu correo?</span>  {{form.email}} <br><br>
           <span>Crea tu contraseña</span>  {{form.clave}} <br><br>
           <button type="submit">Registrar</button>
         </form>
       </div>

     </div>
   </div>
</body>
</html>