<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingredientes</title>
</head>
<body>
<table border="1" style="text-align:center; margin: 0 auto;">
        <thead>
         <caption>Ingredientes</caption>
            <tr>
                <td>idIngrediente</td>
                <td>nombre</td>
                <td>descripcion</td>
                <td>zonaOrigen</td>
                <td>clasificacion</td>

            </tr>
        </thead>
        <tbody>
            {% if ingredientes %}
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ingrediente.idIngrediente}}</td>
                <td>{{ingrediente.nombre}}</td>
                <td>{{ingrediente.descripcion}}</td>
                <td>{{ingrediente.zonaOrigen}}</td>
                <td>{{ingrediente.clasificacion}}</td>

            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay ingredientes registrados</h1>
            {%endif%}
        </tbody>
    </table>

</body>
</html>