<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro de Receta</title>
</head>
<body>
   <div class="container">
     <div class="login-container">
       <div class="register">
         <h2>Bienvendo al Registro de la receta</h2>
         <form action="">
           <span>¿Cual es el titulo de la receta?</span>  <input type="text" placeholder="Ingresa el  titulo" class="titulo"><br><br>
           <span>¿Cual es su descripción?</span>  <input type="text" placeholder="Ingresa la descripción" class="descripción"><br><br>
           <span>¿Que categoria es?</span>  <input type="text" placeholder="Escribe la categoria" class="categoria"><br><br>
           <span>¿Cuales son sus ingredientes?</span>  <input type="text" placeholder="Escribe los ingredientes" class="ingredientes"><br><br>
           <span>¿Quien es el creador?</span>  <input type="text" placeholder="Escribe el creador" class="creador"><br><br>
           <input type="submit" class="submit" value="CREAR RECETA">
         </form>
       </div>

     </div>
   </div>
</body>
</html>

