<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda</title>
</head>
<body>
    <br>
    {% block buscador %}
    <form style="text-align:center; margin: 0 auto;" class="d-done d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET">
        <div class="input-group">
            <p>Ingresa la receta que deseas buscar</p>
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar Receta" name="busquedaReceta" value="">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="icon icon-search"> buscar</i>
                </button>
            </div>
        </div>
        <div class="input-group">
             <p>Ingresa el ingrediente que deseas buscar</p>
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar Ingrediente" name="busquedaIngrediente" value="">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="icon icon-search"> buscar</i>
                </button>
            </div>
        </div>
         <div class="input-group">
             <p>Ingresa el usuario que deseas buscar</p>
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar Usuario" name="busquedaUsuario" value="">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="icon icon-search"> buscar</i>
                </button>
            </div>
        </div>
    </form>
    {% endblock buscador %}
    <!--
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-gtoup col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar Receta" name="busqueda">
                            <span class="input-group-list">
                                <i class="icon icon-search">
                                    <button type="submit" class="boton btn-success">Buscar</button>
                                </i>
                            </span>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>-->
</body>
</html>