<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro usuario</title>
</head>
<body>
   <div class="container">
     <div class="login-container">
       <div class="register">
         <h2>Bienvendo al Registro de Usuario</h2>
         <form action="">
           <span>¿Cual es tu nombre?</span>  <input type="text" placeholder="Ingresa tú nombre" class="nombre"><br><br>
           <span>¿Cual es tu apellido?</span>  <input type="text" placeholder="Ingresa tú apellido" class="apellido"><br><br>
           <span>¿Tienes algun apodo?</span>  <input type="text" placeholder="Escribe o crea tu apodo" class="nickname"><br><br>
           <span>¿Cual es tu cedula?</span>  <input type="text" placeholder="Escribe tú cedula" class="cedula"><br><br>
           <span>¿Cuando naciste?</span>  <input type="date" placeholder="Escribe tú cedula" class="fechaNacido"><br><br>
           <span>¿Cual es tu correo?</span>  <input type="text" placeholder="Ingresa tú correo" class="Ingresa tú correo"><br><br>
           <span>Crea tu contraseña</span>  <input type="password" placeholder="Ingresa tu contraseña" class="pass"><br><br>
           <span>Vuelve a escribir tu contraseña</span>  <input type="password" placeholder="Confirma contraseña" class="repass"><br><br>
           <input type="submit" class="submit" value="REGISTRARSE">
         </form>
       </div>

     </div>
   </div>
</body>
</html>