<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>
<body>
	<table border="1" style="text-align:center; margin: 0 auto;">
        <h1 style="text-align:center; margin: 0 auto;">Recetas</h1>
                <br>
        <thead>

            <tr>
                <td>titulo</td>
                <td>descripcion</td>
                <td>Como se prepara</td>
                <td>categoria</td>
                <td>ingredientes</td>
                <td>creador</td>
                <td>opiniones</td>
                <td>calificacion</td>
                <td>imagen</td>
            </tr>
        </thead>
        <tbody>
            {% if recetas %}
            {% for receta in recetas %}
            <tr>
                <td>{{receta.titulo}}</td>
                <td>{{receta.descripcion}}</td>
                <td>{{receta.pasosPre}}</td>
                <td>{{receta.categoria}}</td>
                <td>{{receta.ingredientes}}</td>
                <td>{{receta.creador}}</td>
                <td>{{receta.opiniones}}</td>
                <td>{{receta.calificacion}}</td>
                <td><img class="img-responsive" src=/media/{{receta.imagen}} alt="" width="200" height="100"></td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No hay recetas registradas</h1>
            {%endif%}
        </tbody>
    </table>

</body>
</html>